{% extends 'base.html' %}
{% block content %}
    <div class="container mt-3">
        <div class="card rounded shadow-lg">
            <div class="card-header text-white bg-secondary">
                <h4 class="mb-0"> Welcome {{ request.user.username }} </h4>
            </div>
            <div class="card-body">
                <figure class="figure">
                    <img src="" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">UserProfilePic</figcaption>
                </figure>
                <h5 class="mb-1">Username: {{ user.email }} </h5>
                <h5 class="mb-1">First Name: {{ user.first_name }} </h5>
                <h5 class="mb-1">Bio : {{ user.bio }} </h5>
            </div>
        </div>
        <h5></h5>
        <div>
            <div class="card rounded lg">
            <div class="card-header text-white bg-info">
                <h4 class="mb-0"> {{ request.user.username }}'s Posts</h4>
            </div>
            <div class="card-body">
                <h5 class="mb-1"> Post or Activity Stream Placeholder </h5>
            </div>
        </div>
    </div>
    </div>
{% endblock %}