{% extends 'base.html' %}
{% load user_tags %}
{% load static %}
{% block content %}
    <div class="container mt-3">
        {% if request.user.is_authenticated %}
        <div class="card rounded shadow-lg">
            <div class="card-body">
                {% if request.user.username == user.username %}
                    <div class="card-header text-white bg-secondary">
                        <h4 class="mb-0"> Welcome {{ request.user.username }}
                            <a class="fas fa-edit" href="{% url 'users:update' pk=request.user.id %}" role="button"
                               style="color: #bbccdd"></a>
                        </h4>
                    </div>
                    <div class="card-body">
                {% else %}
                    <div class="card-header text-white bg-secondary">
                        <h4 class="mb-0">{{ user.username }}'s Profile</h4>
                    </div>
                {% endif %}
                {% if not user.profile_pic %}
                    <figure class="figure">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
                             class="figure-img img-fluid rounded" width="200">
                    </figure>
                {% else %}
                    <figure class="figure">
                        <img src="{{ user.profile_pic }}" class="figure-img img-fluid rounded" width="200">
                    </figure>
                {% endif %}
                <div style="display: block"><h5 style="display: inline;" class="mb-1">Username: </h5>{{ user.username }}
                </div>
                <div style="display: block"><h5 style="display: inline;" class="mb-1">First
                    Name: </h5> {{ user.first_name }} </div>
                <div style="display: block"><h5 style="display: inline;" class="mb-1">Last
                    Name: </h5> {{ user.last_name }} </div>
                <div style="display: block"><h5 style="display: inline;" class="mb-1">Bio : </h5> {{ user.bio }} </div>
                <div>
                    {% if not request.user.username == user.username %}
                        {% is_followed_by_user user.id as followed_by_user %}
                        {% if followed_by_user %}
                            {% get_follow_id user.id as follow_id %}
                            <a href="{% url 'follow:delete' follow_id %}"
                               class="btn btn-primary"><span class="fas fa-bell-slash"></span> Unfollow</a>
                        {% else %}
                            <a href="{% url 'follow:create' user.id %}"
                               class="btn btn-primary"><span class="fas fa-bell"></span> Follow</a>
                        {% endif %}
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card rounded shadow-lg">
            <div class="card-body">
                <div class="card-header text-white bg-secondary">
                    <h4 class="mb-0"> Please Login or Signup to View Profiles </h4>
                </div>
                    <a href="{% url 'login' %}" class="btn btn-primary"><span class="fas fa-user"></span> Login</a>
                    <a href="{% url 'users:signup' %}" class="btn btn-primary"><span class="fas fa-sign-in"></span> Sign Up</a>
            </div>
        </div>

        {% endif %}
    </div>
{% endblock %}