{% extends 'base.html' %}
{% block content %}
    <div class="container mt-2">
        <div class="card rounded shadow-lg">
            <div class="card-header text-white bg-secondary">
                <h4 class="mb-0">Welcome to HoruScope</h4>
            </div>
            <div>
                <figure class="figure">
                    <img src="https://user-images.githubusercontent.com/33605821/83942717-e55f9600-a7fe-11ea-96d8-39b5d2abaa7d.jpeg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div>
                <p style="padding: 10px">People who live in cities experience varying aspects of the urban life. A citizen's daily experience may start with a decent cup of coffee from the recently opened coffee shop around the corner and then he or she will notice that the daily price for the parking slot near the mall was increased 50% and there is a new construction which puts up too much noise near to the most peaceful park within the central district. All these kinds of experiences and even more, creates the info about the city.</p>
            </div>
                <p style="padding: 10px"><b>HoruScope</b> is platform where people can share their experiences about the city. The experiences that will be shared may include a 5 star rating to the 3rd wave coffee shop which is recently opened or a parking slot violation which blocks a street entrance or maybe questions to the major for continuing issues of the city.</p>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
{% endblock %}