{% extends 'base.html' %}
{% load static %}
{% load instance_tags %}

{% block content %}
  <div class="ui right very wide sidebar" style="padding: 1em;">

    <h2 style="border-bottom: 1px solid #CCC; margin-bottom: 1em;">Annotations<button id="close-sidebar" style="cursor: pointer;" class="btn btn-outline-secondary float-right"><i class="fa fa-times"></i></button></h2>
      <div style="height: 3em; text-align: right">
          <div class="dropdown" id="ann-filter-menu">
              <button class="btn btn-secondary dropdown-toggle" id="ann-filter-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-filter"></i> <span></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item active" href="#" id="ann-filter-all">All</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item disabled" href="#" id="ann-filter-my">My annotations</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" id="ann-filter-today">Today</a>
                <a class="dropdown-item" href="#" id="ann-filter-week">This Week</a>
                <a class="dropdown-item" href="#" id="ann-filter-month">This Month</a>
              </div>
          </div>
          <div class="dropdown" id="ann-account-menu">
              <button class="btn btn-secondary dropdown-toggle" id="auth-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user"></i> <span></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" id="ann-account-menu-logout" style="display: none">Logout</a>
                <a class="dropdown-item" href="#" id="ann-account-menu-login">Login</a>
              </div>
          </div>
      </div>
    <div id="new-annotation-form" style="display: none;">
        <div id="new-annotation-form-authenticated" style="display: none;">
            <h5 id="annotating-text">Target: <span class="badge badge-secondary"></span></h5>
            <textarea id="annotation-body" style="width: 100%; margin: 1em 0; padding: 0.5em;" placeholder="Write your annotation..." rows="6"></textarea>
            <button type="button" class="btn btn-primary float-right" id="create-annotation-button"><i class="fa fa-save"></i> Save Annotation</button>
            <details id="annotation-model"><pre></pre></details>
        </div>
        <div id="annotation-auth" class="ui styled accordion" >
          <div class="active title">
            <i class="dropdown icon"></i>
            You must log in to create annotations
          </div>
          <div class="active content" style="padding: 2em 0.5em">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" id="ann-login-username">

            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" id="ann-login-password">
            </div>
            <div class="form-group" style="height: 1em">
                <button class="btn float-right btn-primary" id="ann-login-button">Login</button>
            </div>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Don't have an account? Register
          </div>
          <div class="content" style="padding: 2em 0.5em">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" id="ann-register-username">

            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" id="ann-register-password">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Confirm Password" id="ann-register-password-2">
            </div>
            <div class="input-group form-group">
                <input type="text" class="form-control" placeholder="Email" id="ann-register-email">
            </div>
            <div class="input-group form-group">
                <input type="text" class="form-control" placeholder="First Name" id="ann-register-first-name">
            </div>
            <div class="input-group form-group">
                <input type="text" class="form-control" placeholder="Last Name" id="ann-register-last-name">
            </div>
            <div class="form-group" style="height: 1em">
                <button class="btn float-right btn-primary" id="ann-register-button">Register</button>
            </div>
          </div>
        </div>
    </div>
    <div id="annotation-display" style="display: none;">
        <h5 id="annotated-text">Target: <span class="badge badge-secondary"></span></h5>
        <div style="width: 100%; margin: 1em 0; padding: 0.5em;font-size:0.9em; color: rgba(33, 37, 41, 0.7)">
            <span><i class="far fa-calendar-alt" style="margin-right:.5em;"></i><span id="annotation-datetime"></span></span>
            <span class="float-right"><i class="fa fa-user" style="margin-right:.5em;"></i><span id="annotation-author"></span></span></div>
        <div id="annotation-body-display" style="width: 100%; margin: 1em 0; padding: 1.5em;border: 1px solid #CCC;border-radius: 5px;"></div>
    </div>
  </div>
  <div class="pusher">
    <div class="container mt-3" style="max-width: 1024px;">
        <div class="card rounded shadow-lg" style="margin-bottom: 2em;">
            <div class="card-header text-white bg-secondary">
                <h4 class="mb-0">Post #{{ instance.id }} - {{ instance.datatype.community.name }}</h4>
            </div>
            <div class="card-body">
                    {% csrf_token %}
                    {% datatype_fields_from_instance_id view.kwargs.pk as fields_from_instance %}
                    {% for field in fields_from_instance %}
                        <div class="row post-field-display-row">
                            <div class="col-md-4" style="padding: 10px 15px;""><label><b>{{ field.name }}</b></label></div>
                            <div class="col-md-8" style="padding: 10px 15px;">
                                {% if field.name != 'Semantic Tags' %}
                                    {% if field.type == 0 or field.type == 1 or field.type == 2 or field.type == 7 or field.type == 8 or field.type == 10 %}
                                        <section class="annotatable" style="white-space: pre-wrap">{% property_value instance.id field.id field.type %}</section>
                                    {% endif %}
                                    {% if field.type == 9 %}
                                    <div class="form-group rounded mx-auto d-block card-img-top embed-responsive embed-responsive-16by9">
                                        {% autoescape off %}
                                            {% property_value instance.id field.id field.type %}
                                        {% endautoescape %}
                                    </div>
                                    {% elif field.type == 6 %}

                                        <div style="display: inline-block; position: relative;" class="img-thumbnail annotatable-image">
                                            <div></div>
                                            <img style="max-height: 500px; max-width: 100%; width: auto;height: auto;"  src="{% property_value instance.id field.id field.type %}" />
                                        </div>


                                    {% elif field.type == 4 %}
                                        <video class="rounded mx-auto d-block card-img-top"
                                               controls>
                                            <source src="{% property_value instance.id field.id field.type %}"
                                                    type="video/mp4">
                                        </video>
                                    {% elif field.type == 5 %}
                                        <audio class="rounded mx-auto d-block card-img-top"
                                               controls>
                                            <source src="{% property_value instance.id field.id field.type %}"
                                                    type="audio/ogg">
                                        </audio>
                                    {% endif %}
                                {% else %}
                                    <input type="hidden" id="hdn_tags" name="hdn_tags">
                                    <select id="tags"
                                            name="{{ field.name }}"
                                            disabled
                                            class="js-data-example-ajax form-control form-control-lg rounded"
                                            multiple="multiple" {% if field.required %}required{% endif %}></select>
                                    <script>
                                        $(document).ready(function () {
                                            var vals = '{% property_value view.kwargs.pk field.id field.type %}'.split(',');
                                            vals.forEach(function (e) {
                                                if (!$ajax.find('option:contains(' + e + ')').length)
                                                    $ajax.append($('<option>').text(e));
                                            });
                                            $ajax.val(vals).trigger("change");
                                        });
                                        var $ajax = $("#tags");

                                        function formatRepo(repo) {
                                            if (repo.loading) return repo.text;
                                            var markup = "<option id=" + repo.id + ">" + repo.id + "-" + repo.description + "<option>";
                                            return markup;
                                        }

                                        function formatRepoSelection(repo) {
                                            return repo.id;
                                        }

                                        $ajax.select2({
                                            ajax: {
                                                url: "https://www.wikidata.org/w/api.php?action=wbsearchentities&language=en&format=json&callback=?&",
                                                dataType: 'json',
                                                delay: 250,
                                                results: function (data, page) {
                                                    return {
                                                        results: $.map(data.search, function (item) {
                                                            return {
                                                                id: item.id + "-" + item.label,
                                                                text: item.text
                                                            };
                                                        })
                                                    };
                                                },
                                                multiple: true,
                                                data: function (params) {
                                                    return {
                                                        search: params.term
                                                    };
                                                },
                                                success: function (item) {
                                                },
                                                processResults: function (data, page) {
                                                    return {
                                                        results: $.map(data.search, function (item) {
                                                            return {
                                                                id: item.id + "-" + item.label,
                                                                text: item.text,
                                                                description: item.description
                                                            };
                                                        })
                                                    };
                                                },
                                                cache: true
                                            },
                                            escapeMarkup: function (markup) {
                                                return markup;
                                            },
                                            minimumInputLength: 3,
                                            templateResult: formatRepo,
                                            templateSelection: formatRepoSelection
                                        });
                                    </script>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <link rel="stylesheet" href="{% static '../static/hrs-annotator.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/accordion.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/sidebar.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/popup.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/transition.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
            integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/transition.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/sidebar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/popup.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/accordion.min.js"></script>
    <script type="text/javascript" src="{% static '../static/hrs-annotator.js' %}"></script>
{% endblock %}