{% extends 'base.html' %}
{% load comment_tags %}
{% block content %}
    <div class="container">
        <div>
            {% for field in instance.fields %}
                {% if forloop.counter == 1 %}
                    <h4 style="border-bottom: 1px solid #CCC;font-size: 2.5rem;font-weight: 300;line-height: 2;">
                        <small>Comments for <a
                                href="{% url 'instance:view' instance.id %}">{% property_value instance.id field.id field.type %}</a></small>
                    </h4>
                {% endif %}
            {% endfor %}
            <p class="post-details"><i class="fa fa-folder"></i> Post Type: {{ instance.datatype.name }}
            </p>
            <p class="post-details"><i class="fa fa-user"></i> Author: <a
                    href="{% url 'users:view' instance.author.id %}">{{ instance.author.username }}</a>
            <p class="post-details"><i class="fa fa-calendar"></i> Posted on {{ instance.created_on }}
            </p>
            <p class="post-details"><i class="fa fa-tags"></i>Tags:
                {% for field in instance.fields %}
                    {% if field.name == 'Semantic Tags' %}
                        <span class="semantic-tags">{% property_value instance.id field.id field.type %} </span>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
        <h2 style="margin-bottom: 1em"><small class="text-muted"
                                              style="line-height: 1.5">{{ comments.count }} comment(s)</small>
        </h2>
        {% if comments %}
            {% for comment in comments %}
                <div class="card" style="margin-bottom: 0.5em">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                {% if not comment.created_by.profile_pic %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
                                         class="figure-img img-fluid rounded">
                                {% else %}
                                    <img src="{{ comment.created_by.profile_pic }}" class="img img-rounded img-fluid"/>
                                {% endif %}
                            </div>
                            <div class="col-md-10">
                                <p>
                                    {# @enderortak I've provided the link for userview #}
                                    <a class="float-left"
                                       href="{% url 'users:view' pk=comment.created_by.id %}"><strong>{{ comment.created_by.username }}</strong></a>
                                    <span class="text-secondary float-right date-as-ago"
                                          title="{{ comment.created_on }}">{{ comment.created_on }}</span>
                                </p>
                                <div class="clearfix" style="margin-bottom: 1em"></div>
                                <p>{{ comment.body }}</p>
                                {% if comment.created_by.id == user.id %}
                                    <p>
                                        <a class="float-right btn btn-outline-secondary ml-2 btn-sm"
                                           href="{% url 'comment:delete' comment.id %}"> <i class="fa fa-trash"></i>
                                            Delete</a>
                                        <a class="float-right btn btn-outline-secondary ml-2 btn-sm"
                                           href="{% url 'comment:update' comment.id %}"> <i class="fa fa-edit"></i> Edit</a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'comment:create' instance.id %}" class="btn btn-outline-primary btn-block"><i
                    class="fa fa-plus"></i> New Comment</a>
        {% endif %}
    </div>
    <div>
        <br>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
            integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script>
        $(".date-as-ago").text(function () {
            return moment($(this).text(), "MMM D, YYYY, h:mm a").fromNow()
        })
    </script>
{% endblock %}