{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <p class="text-muted">
            Search For Cities
        </p>
        <div class="card shadow-lg mb-3">
            <div class="card text-center">
                <div class="card-header text-white bg-secondary">
                    <form id="searchform" action="" method="POST" accept-charset="utf-8">
                        {% csrf_token %}
                        <div class="container">
                            <input class="form-control" type="text" placeholder="Search" id="community_search"
                                   name="community_search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if communities %}
{% for community in communities %}
<div class="card shadow-lg mb-3">
    <div class="card text-center">
        <div class="card-header text-white bg-secondary">Created by <a class="text-white"
                                                                       href="{% url 'users:view' pk=community.author.id %}">
            {{ community.author.username }}</a> @ {{ community.created_on }}
            {% if community.city == "" %}
                {% if user.username == community.author.username %}
                <div>
                <a href="{% url 'city:city_search' community.id %}" communityPk=community.id
                   class="btn btn-danger" style="color: #ced4da">
                    <span class="fas fa-location-arrow" style="color: #eaef15"></span> Add City</a>
                </div>
                {% endif %}
            </div>
            {% else %}
        <div>
            <a class="text" style="color: #eaef15">{{ community.city }} </a>
        </div>
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ community.name }}</h5>
        <p class="card-text">{{ community.description }}</p>
        <a href="{% url 'community:posts' community.id %}"
           class="btn btn-primary"><span
                class="fas fa-search"></span> Browse Community</a>
        {% if user.is_authenticated %}
        {% if community.author == request.user %}
        <a href="{% url 'community:update' community.id %}"
           class="btn btn-primary"><span class="fas fa-edit"></span> Update
            Community</a>
        <a href="{% url 'community:delete' community.id %}"
           class="btn btn-primary"><span class="fas fa-trash-alt"></span> Delete
            Community</a>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}