{% extends 'base.html' %}
{% load community_tags %}
{% load base_template_tags %}
{% block content %}
    <style>
        .post-details{
            margin-bottom: .2em;
            color: rgba(0,0,0,.7);
            font-size: 0.9em;
        }
        .post-container{
            padding: 1em 0;
        }
        .post-container:not(:last-child){
            border-bottom: 1px solid #EEE;
        }
    </style>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1 style="border-bottom: 1px solid #CCC;font-size: 2.5rem;font-weight: 300;line-height: 2;">Posts for {{ view.kwargs.pk|community_name }}</h1>
            {% if instances %}
                {% for instance in instances %}
                    <div class="post-container">
                        {% for field in instance.fields %}
                            {% if forloop.counter == 1 %}
                                 <h4 style="margin-bottom: 1em;"><a href="{% url 'instance:view' instance.id %}">{% property_value instance.id field.id field.type %}</a></h4>
                            {% endif %}
                        {% endfor %}

                        <p class="post-details"><i class="fa fa-folder"></i> Post Type: {{ instance.datatype.name }}</p>
                        <p class="post-details"><i class="fa fa-user"></i> Author: <a href="{% url 'users:view' instance.author.id %}">{{ instance.author.username }}</a>
                        <p class="post-details"><i class="fa fa-calendar"></i> Posted on {{ instance.created_on }}</p>
                        <p class="post-details"><i class="fa fa-tags"></i>Tags:
                        {% for field in instance.fields %}
                            {% if field.name == 'Semantic Tags' %}
                                <span class="semantic-tags">{% property_value instance.id field.id field.type %} </span>
                            {% endif %}
                        {% endfor %}
                        </p>
                        <div style="text-align: right; margin-top: 1em">
                                <a href="{% url 'comment:comments' instance.id %}"
                                           class="btn btn-outline-primary btn-sm"><span class="fas fa-comments"></span> View Comments</a>
                                {% if user.is_authenticated %}
                                    {% if instance.author == request.user %}
                                        <a href="{% url 'instance:update' instance.id %}"
                                           class="btn btn-outline-primary btn-sm"><span class="fas fa-edit"></span> Update
                                            Post</a>
                                        <a href="{% url 'instance:delete' instance.datatype.id instance.id %}"
                                           class="btn btn-outline-primary btn-sm"><span class="fas fa-trash-alt"></span> Delete
                                            Post</a>
                                    {% else %}
                                        {% is_flagged_by_user instance.id as flagged_by_user %}
                                        {% if flagged_by_user %}
                                            {% get_flag_id_from_user_and_instance instance.id as flag_id %}
                                            <a href="{% url 'flag:delete' flag_id %}"
                                               class="btn btn-outline-primary btn-sm"><span class="fas fa-flag"></span> Unflag Post</a>
                                        {% else %}

                                            <a href="{% url 'flag:create' instance.id %}"
                                               class="btn btn-outline-primary btn-sm"><span class="fas fa-flag"></span> Flag Post</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card shadow-lg mb-3">
                    <div class="card text-center">
                        <div class="card-header text-white bg-secondary">
                            Oops, no post found!
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">There is nothing here</h5>
                            <p class="card-text">Click plus icon below to create a new post</p>
                            <a class="btn btn-primary" href="{% url 'datatype:index' view.kwargs.pk %}"><span
                                    class="fas fa-comment-dots"></span> New Post</a>
                        </div>
                        <div class="card-footer text-muted">
                            Just now
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-2"></div>
    </div>
    <script>
    $(document).ready(function () {
        document.querySelectorAll(".semantic-tags").forEach(i => $(i).html($(i).text().split(",").map(j => "<span style='margin-right: 0.5em' class=\"badge badge-info\">"+j+"</span>").join("")))
    })
    </script>
{% endblock %}